<div>
  <h1 class="font-bold text-4xl mb-4">Welcome to the feedback app</h1>
  <p>What would you like to do today?</p>
  <div class="flex flex-col">
    <%= link_to 'View all feedback', feedbacks_index_path, class: 'underline text-sky-700' %>
    <%= link_to 'Add new feedback', feedbacks_index_path, class: 'underline text-sky-700' %>
  </div>
</div>
